html {
    background-color: #e9ecf2;
  }

h1, h2, h3 {
    color: #a52a2a;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px rgb(249, 215, 215);
}

p, ul, li {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    line-height: 1.25;
    letter-spacing: 1px;
}

button:hover {
    background-color: #A52a2a;
    border-radius: 5px;
    color: rgb(249, 215, 215);
}

footer {
    background-color: #d1d4db;
    margin: 0;
}
